<div class="row">
    <div class="col-8 offset-2">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>User Id</th>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of taskArr; index as i">
                    <td>{{i+1}}</td>
                    <td>{{task.userId}}</td>
                    <td>{{task.id}}</td>
                    <td>{{task.title}}</td>
                    <td [ngStyle]="{
                        color : task.completed ? 'green' : 'red'}">{{task.completed}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
