<div class="row">
    <div class="col-8 offset-2">
        <table class="table table-bordered table-striped tablebg text-center">
            <thead class="bg-dark text-white text-center">
                <tr>
                    <th><h4>Sr No</h4></th>
                    <th><h4>User Id</h4></th>
                    <th><h4>Id</h4></th>
                    <th><h4>Title</h4></th>
                    <th><h4>Completed</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of taskArr; index as i">
                    <td>{{i+1}}</td>
                    <td>{{task.userId}}</td>
                    <td>{{task.id}}</td>
                    <td><strong>{{task.title}}</strong></td>
                    <td [ngClass]="{
                        'text-success' : task.completed,
                        'text-danger' : !task.completed}"><strong>{{task.completed}}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
